<style>
  .stack-section {
    text-align: center;
    padding: 20px;
  }

  .stack-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .stack-logo {
    height: 50px;
    /* Adjust the size as needed */
    transition: transform 0.3s ease;
  }

  .stack-logo:hover {
    transform: scale(1.1);
    /* Simple hover effect */
  }

  .certification {
    margin-top: 20px;
  }

  .certification-image {
    max-width: 75%;
    height: 50%;
    border: 3px solid #4CAF50;
    /* Color example for border */
  }

  blockquote {
            background: #e0f7fa;
            border-left: 10px solid #00796b;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
        }

  blockquote p {
            display: inline;
        }
</style>
<section class="success" id="about">
  <div class="row">
    <blockquote> <p>
    <h5>Je m'appelle Alexandre Warembourg, je suis data scientist senior, expert en prévision avec six ans d'expérience dans le secteur du Retail. Au cours de ma carrière, j'ai développé plusieurs modèles de prévision pour divers pays tels que la Roumanie, l'Ukraine, la France et la Pologne, parmi d'autres. Mon expertise s'étend des prévisions détaillées au niveau produit-magasin-journalier aux prévisions de catégorie, famille de produits, chiffres d'affaires des magasins et volumes de ventes trimestriels pour répondre à différents besoins.

      Je suis passionné par ce domaine et je souhaite appliquer mon expertise en prévision à une variété de sujets, quel que soit le secteur. En plus de mes compétences techniques, je suis également enseignant et formateur. J'apprécie transmettre mes connaissances et compétences avec humilité, dans le but d'enrichir la communauté et d'accompagner les plus novices.
      
      Mon approche repose sur une combinaison de rigueur technique et d'un engagement à partager et à apprendre continuellement. Je suis ouvert à explorer de nouvelles perspectives et à collaborer sur des projets variés pour apporter des solutions innovantes et efficaces.
    </h5>
  </p>
  </blockquote>
  </div>
  <div class="row">
    <div class="stack-section">
      <h2>Ma Stack</h2>
      <hr class="star-light" />
      <div class="stack-logos">
        <img src="img/python-logo-generic.svg" alt="Logo Python" class="stack-logo">
        <img src="img/Apache_Spark_logo.svg.png" alt="Logo Pyspark" class="stack-logo">
        <img src="img/Kubernetes_logo_without_workmark.svg" alt="Logo Kubernetes" class="stack-logo">
        <img src="img/MLflow-logo-final-white-TM.png" alt="Logo Mlflow" class="stack-logo">
        <img src="img/Google_Cloud_Logo.svg.png" alt="Logo GCP" class="stack-logo">
        <img src="img/Tableau-Logo.png" alt="Logo Tableau" class="stack-logo">
        <img src="img/01-primary-blue-docker-logo.svg" alt="Logo Docker" class="stack-logo">
        <img src="img/github.png" alt="Logo Git" class="stack-logo">
        <!-- Ajoutez d'autres logos ici -->
      </div>
    </div>
    <div class="certification" style="text-align: center">
      <img src="img/certificat.png" alt="Ma Certification Machine Learning Engineer" class="certification-image">
    </div>
  </div>
</section>