<style>
  .stack-section {
    text-align: center;
    padding: 20px;
  }

  .stack-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .stack-logo {
    height: 50px;
    /* Adjust the size as needed */
    transition: transform 0.3s ease;
  }

  .stack-logo:hover {
    transform: scale(1.1);
    /* Simple hover effect */
  }

  .certification {
    margin-top: 20px;
  }

  .certification-image {
    max-width: 75%;
    height: 50%;
    border: 3px solid #4CAF50;
    /* Color example for border */
  }
</style>
<section class="success" id="about">
  <div class="row">
    <div class="stack-section">
      <h2>Ma Stack</h2>
      <hr class="star-light" />
      <div class="stack-logos">
        <img src="img/python-logo-generic.svg" alt="Logo Python" class="stack-logo">
        <img src="img/Apache_Spark_logo.svg.png" alt="Logo Pyspark" class="stack-logo">
        <img src="img/Kubernetes_logo_without_workmark.svg" alt="Logo Kubernetes" class="stack-logo">
        <img src="img/MLflow-logo-final-white-TM.png" alt="Logo Mlflow" class="stack-logo">
        <img src="img/Google_Cloud_Logo.svg.png" alt="Logo GCP" class="stack-logo">
        <img src="img/Tableau-Logo.png" alt="Logo Tableau" class="stack-logo">
        <img src="img/01-primary-blue-docker-logo.svg" alt="Logo Docker" class="stack-logo">
        <img src="img/github.png" alt="Logo Git" class="stack-logo">
        <!-- Ajoutez d'autres logos ici -->
      </div>
    </div>
    <div class="certification" style="text-align: center">
      <img src="img/certificat.png" alt="Ma Certification Machine Learning Engineer" class="certification-image">
    </div>
  </div>
</section>