<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A propos de moi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <p>Je suis Data Scientist depuis 7ans et j'ai accumulé une expérience significative dans la prévision au sein de
          grand Retailler tel qu'Auchan International ou Auchan France.</p>
      </div>
      <div class="col-lg-2">
        <p> <b> Certifié Google Machine Learning Engineer </b>, je suis ainsi garant de la mise en production de mes
          solutions et des bonnes pratiques de developpement.</p>
      </div>
      <div class="col-lg-2">
        <p> J'enseigne également a l'université et j'ai participer à la formation de colaborateur, je peux accompagner
          vos équipes dans leurs montées en compétences en prévisoon </p>
      </div>
      <div class="col-lg-2">
        <p> <b> 19% </b> d'amélioration en coût de surstock et de chiffre d'affaire manqué au niveau national grâce à un
          de mes algorithmes de prévision des produits en promotion </p>
      </div>
      <div class="col-lg-2">
        <p> <b> 18% </b> d'amélioration du geste métier lors du passage des commandes grâce à un de mes algorithmes de
          prévision long terme pour les produits de marques propres sur 7 pays différents </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/alexandre-warembourg-8b1bb1133/" class="btn btn-lg btn-outline">
          <i class="fa"></i> En savoir plus
        </a>
      </div>
    </div>
  </div>
</section>